  <header class="main-header">
    <!-- Logo -->
    <a [routerLink]="['/dashboard']" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>C</b>C</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>City</b>Connect</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
              <!--<img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
              <img src="{{userpic}}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{name}}<!--Alexander Pierce--></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="javascript:void(0)">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="javascript:void(0)">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="javascript:void(0)">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="javascript:void(0)" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="javascript:void(0)" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown messages-menu">
            <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-sign-out-alt"></i>
              <span class="">Log out</span>
            </a>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a [routerLink]="['/dashboard']">
            <i class="fas fa-tachometer-alt"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fas fa-user-secret"></i> <span>Field Agent</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/fieldAgentList']"><i class="far fa-circle"></i> Field Agent List</a></li>
            <li><a [routerLink]="['/addFieldAgent']"><i class="far fa-circle"></i> Add Field Agent</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fas fa-map-marker-alt"></i> <span>City & Fare</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/city_list']"><i class="far fa-circle"></i> City List</a></li>
            <li><a [routerLink]="['/add_city']"><i class="far fa-circle"></i> Add City</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fas fa-user-ninja"></i> <span>Drivers</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Drivers Dashboard</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Drivers List</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Add Drivers</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fas fa-car"></i> <span>Car Type</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Statistics</a></li>
            <li><a [routerLink]="['/car_type']"><i class="far fa-circle"></i> Car Type List</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fas fa-map-pin"></i> <span>Make & Model</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/maker_list']"><i class="far fa-circle"></i> Maker List</a></li>
            <li><a [routerLink]="['/add_new_maker']"><i class="far fa-circle"></i> Add New Maker</a></li>
            <li><a [routerLink]="['/model_list']"><i class="far fa-circle"></i> Model List</a></li>
            <li><a [routerLink]="['/add_new_model']"><i class="far fa-circle"></i> Add New Model</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fas fa-user-tie"></i> <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Dashboard</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Users List</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Deleted Users List</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Add User</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa fa-road"></i> <span>Rides</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Rides Dashboard</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Just Booked</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> On Rides</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Completed Rides</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Cancelled Rides</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Expired Rides</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Search Ride</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Book Ride</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fas fa-car-side"></i> <span>Vehicles</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/vehicles_type']"><i class="far fa-circle"></i> Vehicles Type List</a></li>
            <li><a [routerLink]="['/add_vehicles_type']"><i class="far fa-circle"></i> Add New Vehicles Type</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fas fa-edit"></i> <span>Review</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Statistics</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Setting</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="far fa-file-alt"></i> <span>Documents</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Documents List</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Add New Documents</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fas fa-ticket-alt"></i> <span>Coupons Codes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Coupons Code List</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Add Coupon Code</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fas fa-times"></i> <span>Cancellation</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> User Cancellation Reasons</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Driver Cancellation Reasons</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa fa-th-list"></i> <span>Banners</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Banners List</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Add Banners</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa fa-bullhorn"></i> <span>Notification</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Users</a></li>
            <li><a href="javascript:void(0)"><i class="far fa-circle"></i> Drivers</a></li>
          </ul>
        </li>

        <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li class="header">LABELS</li>
        <li><a [routerLink]="['/referral_history']"><i class="fas fa-history text-red"></i> <span>Referral History</span></a></li>
        <li><a href="javascript:void(0)"><i class="far fa-credit-card text-green"></i> <span>Payment Gateway</span></a></li>
        <li><a href="javascript:void(0)"><i class="fas fa-money-bill-alt text-yellow"></i> <span>Site Earning</span></a></li>
        <li><a href="javascript:void(0)"><i class="fas fa-comment-alt text-aqua"></i> <span>Reports & Feedbacks</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
