<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Add New City
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Add New City</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Add New Model</h3>
      </div>
      <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="city_name">City</label>
                <input type="text" class="form-control" name="city_name">
              </div>
              <!-- /.form-group -->
              <div class="form-group an-model">
                <label for="maker">Available Category</label>
                <select class="js-example-basic-single" name="maker" style="width:100%;">
                  <option disabled></option>
                  <option value="AM">SUV/MUV</option>
                  <option value="cv">Sedan</option>
                  <option value="au">Hatchback</option>
                  <option value="ac">Others</option>
                </select>
              </div>
              <!-- /.form-group -->
              <div class="form-group mb-0">
                <label for="pts">Peak Time Surcharge</label>
              </div>
              <div class="form-group">
                <label class="radio-container mt-10">Yes
                  <input type="radio" name="pts" checked>
                  <span class="checkmark"></span>
                </label>
                <label class="radio-container mt-10">No
                  <input type="radio" name="pts">
                  <span class="checkmark"></span>
                </label>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label for="peak_time">Peak Time Surcharge</label><br/>
                <label for="peak_time">From</label>
                <input type="text" class="form-control" name="peak_time">
                <label for="peak_time">To</label>
                <input type="text" class="form-control" name="peak_time">
              </div>
              <!-- /.form-group -->
              <div class="form-group mb-0">
                <label for="nc">Night Charges</label>
              </div>
              <div class="form-group">
                <label class="radio-container mt-10">Yes
                  <input type="radio" name="nc" checked>
                  <span class="checkmark"></span>
                </label>
                <label class="radio-container mt-10">No
                  <input type="radio" name="nc">
                  <span class="checkmark"></span>
                </label>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label for="night_charge">Night Charges</label><br/>
                <label for="night_charge">From</label>
                <input type="text" class="form-control" name="night_charge">
                <label for="night_charge">To</label>
                <input type="text" class="form-control" name="night_charge">
              </div>
              <!-- /.form-group -->
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="service_tax">Service Tax (%)</label>
                <input type="text" class="form-control" name="service_tax">
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label for="service_tax">Commission To Site (% of ride)</label>
                <input type="text" class="form-control" name="service_tax">
              </div>
              <!-- /.form-group -->
              <div class="form-group mb-0">
                <label for="enable_share_pooling">Enable Share Pooling</label>
              </div>
              <div class="form-group">
                <label class="radio-container mt-10">Yes
                  <input type="radio" name="night_charge" checked>
                  <span class="checkmark"></span>
                </label>
                <label class="radio-container mt-10">No
                  <input type="radio" name="night_charge">
                  <span class="checkmark"></span>
                </label>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label for="category_under_pool">Category Under Pool</label>
                <select class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width:100%;">
                  <option value="SUV/MUV">SUV/MUV</option>
                  <option selected="selected" value="Sedan">Sedan</option>
                  <option value="Hatchback">Hatchback</option>
                  <option value="Others">Others</option>
                </select>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label for="fare_percentage_rider">Fare Percentage For Rider (%)</label>
                <input type="text" class="form-control" name="fare_percentage_rider">
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label for="percentage_coPassenger">Additional Fare Percentage Per Co-Passenger (%)</label>
                <input type="text" class="form-control" name="percentage_coPassenger">
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label for="pool_map">Pool Map Searching Radius</label>
                <input type="text" class="form-control" name="pool_map">
              </div>
              <!-- /.form-group -->
              <div class="form-group mb-0">
                <label for="status">Status</label>
              </div>
              <div class="form-group">
                <label class="radio-container mt-10">Active
                  <input type="radio" name="status" checked>
                  <span class="checkmark"></span>
                </label>
                <label class="radio-container mt-10">Inactive
                  <input type="radio" name="status">
                  <span class="checkmark"></span>
                </label>
              </div>
              <!-- /.form-group -->
            </div>
            
            <!-- /.col -->
            <div class="col-md-12 text-center">
                <button type="button" (click)="onSubmit()" class="btn btn-warning btn-lg">Submit</button>
            </div>
          </div>
          <!-- /.row -->
        </div>
      <!-- </form> -->
    </div>

  </section>
  <!-- /.content -->
</div>