 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Model List
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="javascript:void(0)"><i class="fas fa-tachometer-alt"></i> Home</a></li>
        <li class="active">Model List</li>
      </ol>
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Display Model List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Model Name</th>
                  <th>Model Type</th>
                  <th>Maker</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Hummer</td>
                  <td>MPV</td>
                  <td>AM General	</td>
                  <td class="text-success">InActive</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>CL</td>
                  <td>MPV</td>
                  <td>Acura</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>TLX</td>
                  <td>MPV</td>
                  <td>Aston Martin	</td>
                  <td class="text-success">InActive</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Giulia</td>
                  <td>MPV</td>
                  <td>Audi	</td>
                  <td class="text-success">InActive</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Rapide</td>
                  <td>MPV</td>
                  <td>BMW	</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Vintage</td>
                  <td>MPV</td>
                  <td>Bentley	</td>
                  <td class="text-success">InActive</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Virage</td>
                  <td>MPV</td>
                  <td>Bugatti	</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Rapide</td>
                  <td>MPV</td>
                  <td>Buick	</td>
                  <td class="text-success">InActive</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Rapide</td>
                  <td>MPV</td>
                  <td>Chevrolet	</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Virage</td>
                  <td>MPV</td>
                  <td>Dodge	</td>
                  <td class="text-success">InActive</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Hummer</td>
                  <td>MPV</td>
                  <td>AM General	</td>
                  <td class="text-success">InActive</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </section>
  </div>