<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Add Field Agent
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Forms</a></li>
      <li class="active">Add Field Agent</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Field Agent</h3>

        <!-- <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div> -->
      </div>
      <!-- /.box-header -->
      <form novalidate [formGroup]="exampleForm">
        <div class="box-body container">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">First Name</label>
                <input type="text" class="form-control" id="name" formControlName="firstName" [ngClass]="{ 'is-invalid': f.firstName.touched && f.firstName.errors }" placeholder="Agent First Name">
                <!--<div>{{ exampleForm.controls.firstName?.errors | json }}</div>
                <div>{{ exampleForm.get('firstName').errors | json }}</div>-->
                <div *ngIf="exampleForm.get('firstName').hasError('required') && exampleForm.get('firstName').touched">First Name is required</div>
              </div>
              <div class="form-group">
                <label>Country</label>
                <select class="form-control select2" [(ngModel)]="country" [ngModelOptions]="{standalone: true}" style="width: 100%;">
                  <option selected="selected">India</option>
                  <!--<option>India</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>-->
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Agent Email</label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="email" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" placeholder="Enter email">
                <div class="invalid-feedback" *ngIf="exampleForm.get('email').hasError('required') && exampleForm.get('email').touched">Email is required</div>
                <div class="invalid-feedback" *ngIf="exampleForm.get('email').hasError('pattern') && exampleForm.get('email').touched">Invalid Email!</div>
              </div>
              <!-- /.form-group -->
              <!-- /.form-group -->
              <div class="form-group">
                <label for="mnumber">Mobile Number</label>
                <input type="text" class="form-control" id="mnumber" formControlName="phoneNo" [ngClass]="{ 'is-invalid': f.phoneNo.errors && f.phoneNo.touched }" placeholder="Enter Mobile Number">
                <div class="invalid-feedback" *ngIf="exampleForm.get('phoneNo').hasError('required') && exampleForm.get('phoneNo').touched">Mobile is required</div>
                <div class="invalid-feedback" *ngIf="exampleForm.get('phoneNo').hasError('minlength') && exampleForm.get('phoneNo').touched">Postal Code must be of 10 digit!</div>
                <div class="invalid-feedback" *ngIf="exampleForm.get('phoneNo').hasError('pattern') && exampleForm.get('phoneNo').touched">Numbers accepted only!</div>
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" formControlName="adrLine1" [ngClass]="{ 'is-invalid': f.adrLine1.errors && f.adrLine1.touched }" placeholder="Enter Address">
                <div class="invalid-feedback" *ngIf="exampleForm.get('adrLine1').hasError('required') && exampleForm.get('adrLine1').touched">Address is required</div>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Last Name</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastName" [ngClass]="{ 'is-invalid': f.lastName.errors && f.lastName.touched }" placeholder="Agent Last Name">
                <div class="invalid-feedback" *ngIf="exampleForm.get('lastName').hasError('required') && exampleForm.get('lastName').touched">Last Name is required</div>
              </div>
              <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state" [ngClass]="{ 'is-invalid': f.state.touched && f.state.errors }" placeholder="Enter State">
                <div class="invalid-feedback" *ngIf="exampleForm.get('state').hasError('required') && exampleForm.get('state').touched">State is required</div>
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city" [ngClass]="{ 'is-invalid': f.city.touched && f.city.errors }" placeholder="Enter City">
                <div class="invalid-feedback" *ngIf="exampleForm.get('city').hasError('required') && exampleForm.get('city').touched">City is required</div>
              </div>
              <div class="form-group">
                <label for="pscode">Postal Code</label>
                <input type="text" class="form-control" id="pscode" formControlName="pinCode" [ngClass]="{ 'is-invalid': submitted && f.pinCode.errors }" placeholder="Enter Postal Code">
                <div class="invalid-feedback" *ngIf="exampleForm.get('pinCode').hasError('required') && exampleForm.get('pinCode').touched">Mobile is required</div>
                <div class="invalid-feedback" *ngIf="exampleForm.get('pinCode').hasError('minlength') && exampleForm.get('pinCode').touched">Postal Code must be of 6 digit</div>
                <div class="invalid-feedback" *ngIf="exampleForm.get('pinCode').hasError('pattern') && exampleForm.get('pinCode').touched">Invalid Postal Code!</div>
              </div>
              <div class="form-group">
                <label class="radio-container">Active
                  <input type="radio" name="isActive" value="1" checked="checked" formControlName="isActive">
                  <span class="checkmark"></span>
                </label>
                <label class="radio-container">Inactive
                  <input type="radio" name="isActive" value="0" formControlName="isActive">
                  <span class="checkmark"></span>
                </label>
                <!--<span>{{f.isActive.value | json}}</span>-->
                <div *ngIf="exampleForm.get('isActive').hasError('required') && exampleForm.get('isActive').touched">
                  Please select whether to activate the user.
                </div>
              </div>
            </div>
            <!-- /.col -->
            <div class="form-group col-md-12 text-center">
              <button type="button" (click)="onSubmit()" class="btn btn-warning btn-lg">Submit</button> <!--[disabled]="exampleForm.invalid"-->
            </div>
          </div>
          <!-- /.row -->
        </div>
      </form>
    </div>

  </section>
  <!-- /.content -->
</div>
