 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Field Agent List
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home</a></li>
      <li class="active">Field Agent</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Display Field Agent List</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>DOJ</th>
                <th>Mobile Number</th>
                <th>Status</th>
                <th>Drivers (Count)</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ag of agents">
                  <td>{{ag.firstName}} {{ag.lastName}}</td>
                  <td>{{ag.email}}</td>
                  <td>{{ag.birthdate}}</td>
                  <td>{{ag.phoneNo}}</td>
                  <td class="text-success" *ngIf="ag.isActive==true">Active</td>
                  <td class="text-success" *ngIf="ag.isActive==false">InActive</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3" [routerLink]="['/addFieldAgent']"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3" [routerLink]="['/addFieldAgent', ag.userId]"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>
                <!--<tr>
                  <td>Agent Name</td>
                  <td>example@demo.com</td>
                  <td>2018-12-20</td>
                  <td>9100120000</td>
                  <td class="text-success">Active</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>-->
                <tr>
                  <td>Agent Name</td>
                  <td>example@demo.com</td>
                  <td>2018-12-20</td>
                  <td>9100120000</td>
                  <td class="text-success">Active</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>Agent Name</td>
                  <td>example@demo.com</td>
                  <td>2018-12-20</td>
                  <td>9100120000</td>
                  <td class="text-success">Active</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>Agent Name</td>
                  <td>example@demo.com</td>
                  <td>2018-12-20</td>
                  <td>9100120000</td>
                  <td class="text-success">Active</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>Agent Name</td>
                  <td>example@demo.com</td>
                  <td>2018-12-20</td>
                  <td>9100120000</td>
                  <td class="text-success">Active</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>Agent Name</td>
                  <td>example@demo.com</td>
                  <td>2018-12-20</td>
                  <td>9100120000</td>
                  <td class="text-success">Active</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>Agent Name</td>
                  <td>example@demo.com</td>
                  <td>2018-12-20</td>
                  <td>9100120000</td>
                  <td class="text-success">Active</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>Agent Name</td>
                  <td>example@demo.com</td>
                  <td>2018-12-20</td>
                  <td>9100120000</td>
                  <td class="text-success">Active</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>Agent Name</td>
                  <td>example@demo.com</td>
                  <td>2018-12-20</td>
                  <td>9100120000</td>
                  <td class="text-success">Active</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>Agent Name</td>
                  <td>example@demo.com</td>
                  <td>2018-12-20</td>
                  <td>9100120000</td>
                  <td class="text-success">Active</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>Agent Name</td>
                  <td>example@demo.com</td>
                  <td>2018-12-20</td>
                  <td>9100120000</td>
                  <td class="text-success">Active</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>Agent Name</td>
                  <td>example@demo.com</td>
                  <td>2018-12-20</td>
                  <td>9100120000</td>
                  <td class="text-success">Active</td>
                  <td>20</td>
                  <td class="row">
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="far fa-eye"></i></button>
                    <button class="btn bg-orange margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>
