<div class="content-wrapper login-body">
  <div class="background-wrap">
    <div class="background"></div>
  </div>

  <form id="accesspanel" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!--action="login" method="post"-->
    <div class="login-form">
      <h1 id="litheader">CityConnect</h1>
      <div class="inset">
        <div class="form-group pos-rel">
          <p>
            <input type="text" name="username" id="email" placeholder="User Name" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
          </p>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group pos-rel">
          <p>
            <input type="password" name="password" id="password" placeholder="Access code" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          </p>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div style="text-align: center;">
          <div class="checkboxouter">
            <input type="checkbox" name="rememberme" id="remember" value="Remember">
            <label class="checkbox"></label>
          </div>
          <label for="remember">Remember me</label>
        </div>
        <!-- <input class="loginLoginValue" type="hidden" name="service" value="login" /> -->
      </div>
      <div class="form-group">
        <!--<button [disabled]="loading" class="p-container">Login</button>-->
        <p class="p-container">
          <!--<a [routerLink]="['/dashboard']" name="Login" id="go">Authorize</a>-->
          <button [disabled]="loading" class="p-container" id="go">Login</button>
        </p>
        <!-- <input type="submit" name="Login" id="go" value="Authorize"> -->
      </div>
    </div>
  </form>
</div>
