 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        City List
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="javascript:void(0)"><i class="fas fa-tachometer-alt"></i> Home</a></li>
        <li class="active">City List</li>
      </ol>
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Display City List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>City</th>
                  <th>Country</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Pune</td>
                  <td>India</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <a [routerLink]="['/city_fare_details']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                    <!-- <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                <tr>
                  <td>Aurangabad</td>
                  <td>India</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <a [routerLink]="['/city_fare_details']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                    <!-- <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                <tr>
                  <td>Mumbai</td>
                  <td>India</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <a [routerLink]="['/city_fare_details']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                    <!-- <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                <tr>
                  <td>Nagpur</td>
                  <td>India</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <a [routerLink]="['/city_fare_details']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                    <!-- <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                <tr>
                  <td>Solapur</td>
                  <td>India</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <a [routerLink]="['/city_fare_details']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                    <!-- <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                <tr>
                  <td>Nasik</td>
                  <td>India</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <a [routerLink]="['/city_fare_details']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                    <!-- <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                <tr>
                  <td>Amravati</td>
                  <td>India</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <a [routerLink]="['/city_fare_details']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                    <!-- <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                <tr>
                  <td>Navi Mumbai</td>
                  <td>India</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <a [routerLink]="['/city_fare_details']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                    <!-- <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                <tr>
                  <td>Kolhapur</td>
                  <td>India</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <a [routerLink]="['/city_fare_details']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                    <!-- <a title="view/edit car type" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></a> -->
                  </td>
                </tr>
                <tr>
                  <td>Panvel</td>
                  <td>India</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <a [routerLink]="['/city_fare_details']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                    <!-- <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                <tr>
                  <td>Jalgaon</td>
                  <td>India</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <a [routerLink]="['/city_fare_details']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                    <!-- <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                <tr>
                  <td>Thane</td>
                  <td>India</td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <a [routerLink]="['/city_fare_details']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                    <!-- <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a> -->
                  </td>
                </tr>
                
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </section>
  </div>
