<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Add New Vehicle Type
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Add New Vehicle Type</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Add New Vehicle Type</h3>

          <!-- <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div> -->
        </div>
        <!-- /.box-header -->
        <!-- <form [fromGroup]="addVehiclesForm"> -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                  <label for="vehicle_type">Vehicle Type</label>
                  <input type="text" class="form-control" id="vehicle_type"  placeholder="Agent Name">
                  <!-- <div *ngIf="submitted && vt.vehicleType.errors" class="invalid-feedback">
                    <div *ngIf="vt.vehicleType.errors.required">Vehicle Type is required</div>
                  </div> -->
                </div>
                <!-- /.form-group -->
                <!-- /.form-group -->
                <div class="form-group">
                  <label for="max_seat_capacity">Maximum Seating Capacity</label>
                  <input type="text" class="form-control" id="max_seat_capacity"  placeholder="Maximum Seating Capacity">
                  <!-- <div *ngIf="submitted && msc.maxSeatCapacity.errors" class="invalid-feedback">
                    <div *ngIf="msc.maxSeatCapacity.errors.required">Maximum Seating Capacity is required</div>
                  </div> -->
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label for="vehicle_icon">Vehicle Picture</label>
                  <input type="file" id="vehicle_icon">
                  <p class="help-block">Note: Minimum Icon size 70 X 40 Pixels.</p>
                </div>
                 <!-- /.form-group -->
                <div class="form-group">
                  <label class="radio-container mt-10">Active
                    <input type="radio" name="r3" checked>
                    <span class="checkmark"></span>
                  </label>
                  <label class="radio-container mt-10">Inactive
                    <input type="radio" name="r3">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              
              <!-- /.col -->
              <div class="col-md-12 text-center">
                  <button type="button" (click)="onSubmit()" class="btn btn-warning btn-lg">Submit</button>
              </div>
            </div>
            <!-- /.row -->
          </div>
        <!-- </form> -->
      </div>

    </section>
    <!-- /.content -->
  </div>