<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Add New Model
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Add New Model</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Add New Model</h3>
        </div>
        <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="form-group an-model">
                  <label for="maker">Maker</label>
                  <select class="js-example-basic-single" name="maker" style="width:100%;">
                    <option disabled></option>
                    <option value="AM">BMW</option>
                    <option value="cv">Chevrolet</option>
                    <option value="au">Audi</option>
                    <option value="ac">Acura</option>
                    <option value="am">Aston Martin</option>
                    <option value="bently">Bentley</option>
                    <option value="bugatti">Bugatti</option>
                    <option value="buick">Buick</option>
                    <option value="cadillac">Cadillac</option>
                    <option value="chrysler">Chrysler</option>
                    <option value="ferrari">Ferrari</option>
                    <option value="FIAT">FIAT</option>
                    <option value="ac">Acura</option>
                    <option value="hyundai">Hyundai</option>
                    <option value="honda">Honda</option>
                    <option value="jaguar">Jaguar</option>
                    <option value="lamborghini">Lamborghini</option>
                    <option value="nissan">Nissan</option>
                  </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label for="model_name">Model Name</label>
                  <input type="text" class="form-control" name="model_name">
                </div>
                <div class="form-group an-model">
                  <label for="year_of_model">Year Of Models</label>
                  <select class="js-example-basic-single" style="width:100%;" name="year_of_model">
                    <option disabled>Please Choose Year Of Model</option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>2014</option>
                    <option>2013</option>
                    <option>2012</option>
                    <option>2011</option>
                    <option>2010</option>
                    <option>2009</option>
                    <option>2008</option>
                    <option>2007</option>
                    <option>2006</option>
                    <option>2005</option>
                    <option>2004</option>
                    <option>2003</option>
                    <option>2002</option>
                    <option>2001</option>
                    <option>2000</option>
                  </select>
                </div>
                 <!-- /.form-group -->
                 <div class="form-group an-model">
                  <label for="model_type">Model Type</label>
                  <select class="js-example-basic-single" style="width:100%;" name="model_type">
                    <option disabled>Please Choose Model</option>
                    <option>ACE</option>
                    <option>AUDI</option>
                    <option>Auto</option>
                    <option>BODA</option>
                    <option>Bazuka</option>
                    <option>Bugatti</option>
                    <option>Convertible</option>
                    <option>Coupe</option>
                    <option>Crossover</option>
                    <option>Indica</option>
                    <option>Honda Civic</option>
                    <option>JAGUAR XF</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="radio-container mt-10">Active
                    <input type="radio" name="r3" checked>
                    <span class="checkmark"></span>
                  </label>
                  <label class="radio-container mt-10">Inactive
                    <input type="radio" name="r3">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              
              <!-- /.col -->
              <div class="col-md-12 text-center">
                  <button type="button" (click)="onSubmit()" class="btn btn-warning btn-lg">Submit</button>
              </div>
            </div>
            <!-- /.row -->
          </div>
        <!-- </form> -->
      </div>

    </section>
    <!-- /.content -->
  </div>