.user-image{height: 50px;width: 50px;}
.content-header>.breadcrumb2>li>a{display: inline-block;text-decoration: none;color: #fff;}
.content-header>.breadcrumb2>li{display: inline-block;text-decoration: none;color: #fff;}
.content-header>.breadcrumb2{
    float: right;
    background: #F08B16;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}