 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
        John Doe ( example@demo.com ) -
      <small>Referred Member List</small>
    </h1>
    <ol class="breadcrumb2">
      <li><a href="javascript:void(0)" class="text-danger">Referral Code : </a></li>
      <li class="active text-danger"> [SIMONPE]</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Display Referral History</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Sr.No.</th>
                <th>Email</th>
                <th>Amount</th>
                <th>Credit Status</th>
                <th>Referred Date</th>
                <th>Refrence Id</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>example@demo.com</td>
                <td>$7.00</td>
                <td class="text-success">Success</td>
                <td>2018-02-27, 02:41 PM</td>
                <td>5a9520b2198ee02e5cc6d553</td>
              </tr>
              <tr>
                <td>2</td>
                <td>example@demo.com</td>
                <td>$7.00</td>
                <td class="text-success">Success</td>
                <td>2018-02-27, 02:41 PM</td>
                <td>5a9520b2198ee02e5cc6d553</td>
              </tr>
              <tr>
                <td>3</td>
                <td>example@demo.com</td>
                <td>$7.00</td>
                <td class="text-success">Success</td>
                <td>2018-02-27, 02:41 PM</td>
                <td>5a9520b2198ee02e5cc6d553</td>
              </tr>
              <tr>
                <td>4</td>
                <td>example@demo.com</td>
                <td>$7.00</td>
                <td class="text-success">Success</td>
                <td>2018-02-27, 02:41 PM</td>
                <td>5a9520b2198ee02e5cc6d553</td>
              </tr>
              <tr>
                <td>5</td>
                <td>example@demo.com</td>
                <td>$7.00</td>
                <td class="text-success">Success</td>
                <td>2018-02-27, 02:41 PM</td>
                <td>5a9520b2198ee02e5cc6d553</td>
              </tr>
              <tr>
                <td>6</td>
                <td>example@demo.com</td>
                <td>$7.00</td>
                <td class="text-success">Success</td>
                <td>2018-02-27, 02:41 PM</td>
                <td>5a9520b2198ee02e5cc6d553</td>
              </tr>
              
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>