<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Car Categories
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Cat Type List</a></li>
      <li class="active">Car Categories</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content" style="max-height:1014px;">

    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Car Types</h3>
      </div>
      <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <label for="vehicle_type">Category Name</label>
                <input type="text" class="form-control" id="car_type"  value="Sedan" disabled>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label for="vehicle_type">Car Types</label>
                <select class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width:100%;">
                  <option value="SUV/MUV">SUV/MUV</option>
                  <option selected="selected" value="Sedan">Sedan</option>
                  <option value="Hatchback">Hatchback</option>
                  <option value="Others">Others</option>
                </select>
              </div>
              <!-- /.form-group -->
            </div>
            
            <!-- /.col -->
            <div class="col-md-12 text-center">
                <button type="button" (click)="onSubmit()" class="btn btn-warning btn-lg">Submit</button>
            </div>
          </div>
          <!-- /.row -->
        </div>
      <!-- </form> -->
    </div>

  </section>
  <!-- /.content -->
</div>