<div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <div class="col-sm-12" style="margin-top:2rem;">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
          <li class="active"><a href="#tab_1-1" data-toggle="tab">City Details</a></li>
          <li><a href="#tab_2-2" data-toggle="tab">Fare Details</a></li>
          <!-- <li class="active"></li><a href="#tab_3-2" data-toggle="tab">City Details</a></li> -->
          <li class="pull-left header"><i class="fa fa-th"></i> Display City & Fares Details</li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1-1">
            <div class="box-body">
              <strong><i class="fas fa-city"></i> City</strong>
              <p class="text-muted">Pune</p>
              <hr>

              <strong><i class="fas fa-globe-asia"></i> Country</strong>
              <p class="text-muted">India</p>
              <hr>

              <strong><i class="fas fa-percent"></i> Commission To Site</strong>
              <p><span class="label label-danger">6%</span></p>
              <hr>

              <strong><i class="far fa-eye"></i> Status</strong>
              <p><span class="label label-success">Active</span></p>
              <hr>

              <strong><i class="fas fa-car-side"></i> Available Category</strong>
              <p>
                <span class="label label-danger margin-r-5">Prime</span>
                <span class="label label-success margin-r-5">Mini</span>
                <span class="label label-info margin-r-5">MINI bus</span>
                <span class="label label-warning">NANO</span>
              </p>              
            </div>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="tab_2-2">
            <div class="box">
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered">
                  <tr>
                    <th style="width: 10px">Category</th>
                    <th>Minimum Bill</th>
                    <th>After Minimum Bill</th>
                    <th>Waiting Charge</th>
                    <th>Extra charges</th>
                  </tr>
                  <tr>
                    <td>Hatchback</td>
                    <td>$5 for first 5km</td>
                    <td>
                      $5 per km<br/>
                      $5 Fare Per Minute (Ride time charges)
                    </td>
                    <td>$5 per min </td>
                    <td>
                      1000X ( Peak Time Surcharge ) <br/>
                      1000X (Night charges)
                    </td>
                  </tr>
                  <tr>
                    <td>Hatchback</td>
                    <td>$5 for first 5km</td>
                    <td>
                      $5 per km<br/>
                      $5 Fare Per Minute (Ride time charges)
                    </td>
                    <td>$5 per min </td>
                    <td>
                      1000X ( Peak Time Surcharge ) <br/>
                      1000X (Night charges)
                    </td>
                  </tr>
                  <tr>
                    <td>Sedan</td>
                    <td>$5 for first 5km</td>
                    <td>
                      $5 per km<br/>
                      $5 Fare Per Minute (Ride time charges)
                    </td>
                    <td>$5 per min </td>
                    <td>
                      1000X ( Peak Time Surcharge ) <br/>
                      1000X (Night charges)
                    </td>
                  </tr>
                  <tr>
                    <td>SUV/MUV</td>
                    <td>$5 for first 5km</td>
                    <td>
                      $5 per km<br/>
                      $5 Fare Per Minute (Ride time charges)
                    </td>
                    <td>$5 per min </td>
                    <td>
                      1000X ( Peak Time Surcharge ) <br/>
                      1000X (Night charges)
                    </td>
                  </tr>
                  <tr>
                    <td>Others</td>
                    <td>$5 for first 5km</td>
                    <td>
                      $5 per km<br/>
                      $5 Fare Per Minute (Ride time charges)
                    </td>
                    <td>$5 per min </td>
                    <td>
                      1000X ( Peak Time Surcharge ) <br/>
                      1000X (Night charges)
                    </td>
                  </tr>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
              <!-- /.box -->
          </div>
          <!-- /.tab-pane -->
          <!-- <div class="tab-pane" id="tab_3-2">
              <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
  
                <p class="text-muted">
                  B.S. in Computer Science from the University of Tennessee at Knoxville
                </p>
  
                <hr>
  
                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
  
                <p class="text-muted">Malibu, California</p>
  
                <hr>
  
                <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
  
                <p>
                  <span class="label label-danger">UI Design</span>
                  <span class="label label-success">Coding</span>
                  <span class="label label-info">Javascript</span>
                  <span class="label label-warning">PHP</span>
                  <span class="label label-primary">Node.js</span>
                </p>
  
                <hr>
  
                <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
  
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
              </div>
          </div> -->
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
  </div>
</div>