 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
  <!-- Content Header (Page header) -->
  <section class="member-filter-header">
    <form>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label>Members Filter</label>
              <select class="form-control select2" style="width: 100%;">
                <option selected="selected">User Name</option>
                <option>User Email</option>
                <option>User PhoneNumber</option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <input type="text" class="form-control mt-25" placeholder="Please Enter Keyword">
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
              <button type="button" class="btn btn-block btn-success btn-md mt-25">Filter</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <section class="content-header">
    <h1>
      User Referral History
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fas fa-tachometer-alt"></i> Home</a></li>
      <li class="active"> User Referral History</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Display Referral History</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Sr.No.</th>
                <th>Username</th>
                <th>Email</th>
                <th>Image</th>
                <th>Referral Count</th>
                <th>Referral Code</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Jhone Doe</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Imran</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar04.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Raj</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar5.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>Kumar</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar2.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>Vikash</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar3.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>Hitendra</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar04.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td>7</td>
                <td>Shayam</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar5.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td>8</td>
                <td>Vivek</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar5.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td>9</td>
                <td>Surya</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar04.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td>10</td>
                <td>Jhone</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar2.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td>11</td>
                <td>Doe</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar3.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td>12</td>
                <td>Jhone Doe</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td>13</td>
                <td>Jhone Doe</td>
                <td>example@demo.com</td>
                <td><img src="assets/dist/img/avatar3.png" class="user-image" alt="Car Icon"></td>
                <td class="text-success">2</td>
                <td>SIMONPE</td>
                <td class="row">
                  <a [routerLink]="['/view_referral']" title="View Details" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a>
                </td>
              </tr>
              
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
</div>