 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper" style="max-height:1065px;min-height: 1065px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Brand List
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="javascript:void(0)"><i class="fas fa-tachometer-alt"></i> Home</a></li>
        <li class="active">Makers List</li>
      </ol>
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Display Brand List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Brand Name</th>
                  <th>Brand Logo</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>AM General</td>
                  <td><img src="assets/dist/img/car.png" class="user-image" alt="Car Icon"></td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Acura</td>
                  <td><img src="assets/dist/img/car.png" class="user-image" alt="Car Icon"></td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a [routerLink]="['/add_edit_car_type']" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Alfa Romeo</td>
                  <td><img src="assets/dist/img/car.png" class="user-image" alt="Car Icon"></td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Aston Martin</td>
                  <td><img src="assets/dist/img/car.png" class="user-image" alt="Car Icon"></td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Audi</td>
                  <td><img src="assets/dist/img/car.png" class="user-image" alt="Car Icon"></td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>BMW</td>
                  <td><img src="assets/dist/img/car.png" class="user-image" alt="Car Icon"></td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Bentley</td>
                  <td><img src="assets/dist/img/car.png" class="user-image" alt="Car Icon"></td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Hatchback</td>
                  <td><img src="assets/dist/img/car.png" class="user-image" alt="Car Icon"></td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Bugatti</td>
                  <td><img src="assets/dist/img/car.png" class="user-image" alt="Car Icon"></td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="view/edit car type" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-pencil-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>Buick</td>
                  <td><img src="assets/dist/img/car.png" class="user-image" alt="Car Icon"></td>
                  <td class="text-success">Active</td>
                  <td class="row">
                    <!-- <a class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="far fa-eye"></i></a> -->
                    <a title="Delete" class="btn bg-orange w--50 margin p-2 col-xs-3"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
                
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </section>
  </div>