/* You can add global styles to this file, and also import other style files */

/*=============== Global Css ===============*/

/* padding */
.p-2{padding: 2px !important;}

/* width */
.w--50{width: 50px;}

/* margin */
.ml-5{margin-left: 5px;}
.mb-0{margin-bottom: 0;}

/* height */
/* .min-h-870{min-height: 870px !important;} */

.fas, .far{width: 25px;}